@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Anton&family=Open+Sans:ital,wght@0,400;1,300;1,400;1,600&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=RocknRoll+One&display=swap");

.App {
  text-align: center;
  font-family: "Akaya Telivigala", cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.btn-tline {
  background-color: transparent !important;
  color: #a57f60 !important;
  border: 0.1rem #a57f60 solid !important;
  font-weight: 600 !important;
  transition: all 0.2s;
}
.btn-tline:hover {
  background-color: #a57f60 !important;
  color: black !important;
}

.about {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
}
.about h2 {
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem #e0e0e0 solid !important;
  font-weight: 600;
}
.about p {
  margin: 0;
}

.returner {
  display: none;
  color: rgb(63, 63, 63);
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}

.returner:hover {
  color: black;
  background-color: #e6edf3;
  border-radius: 0.5rem;
}

.load-logo {
  font-size: 5rem;
  margin-top: 10rem;
}
.load-body {
  font-size: 5rem;
  padding: 1rem;
  animation-name: spin;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

.delete:hover {
  color: red !important;
}

.error-toast {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 100%;
  max-width: 500px !important;
  font-size: 1.25rem !important;
}
@media screen and (max-width: 573px) {
  .load-body,
  .load-logo {
    font-size: 3rem;
  }
  .returner {
    display: block;
  }
}
