@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Anton&family=Open+Sans:ital,wght@0,400;1,300;1,400;1,600&family=Shippori+Mincho:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=RocknRoll+One&display=swap");

:root {
  --primary-color: black;
  --primary-color-lighter: rgb(65, 64, 64);
  --primary-color-disabled: rgba(10, 10, 10, 0.514);
  --primary-bgcolor: #f0f8fe;
  --secondary-color: white;
  --secondary-color-lighter: rgb(207, 207, 207);
  --primary-color-hover: rgba(124, 124, 124, 0.1);
  --secondary-bgcolor: #405364;
  --primary-border: #e0e0e0;
  --secondary-border: #384857;
  --secondary-color-hover: rgba(161, 166, 172, 0.336);
  --tier-1: #2ecfca;
  --tier-2: #f8df77;
  --tier-3: #ff4e62;
  --todo-input: rgba(255, 255, 255, 0.5);
}

[data-theme="summer"] {
  --primary-color: #583d72;
  --primary-color-lighter: #5f427a;
  --primary-bgcolor: #ffc996;
  --primary-border: #f5c191;
  --primary-color-hover: #9f5f801c;
  --secondary-bgcolor: #ff8474;
  --secondary-color: #fff44f;
  --secondary-color-lighter: #e6db4c;
  --secondary-border: #f17d6e;
  --secondary-color-hover: rgba(255, 255, 255, 0.1);
  --tier-1: #9abfc2;
  --tier-2: #7de0d3;
  --tier-3: #23a1f5;
}

[data-theme="doom"] {
  --primary-bgcolor: #f4f3ee;
  --primary-border: #ecebe6;
  --secondary-bgcolor: #040404;
  --secondary-border: #222222;
  --tier-1: #0b7a75;
  --tier-2: #f18f01;
  --tier-3: #c44536;
}

[data-theme="dark"] {
  --primary-color: white;
  --primary-color-lighter: rgb(204, 204, 204);
  --primary-color-hover: rgba(253, 253, 253, 0.1);
  --primary-color-disabled: rgba(155, 155, 155, 0.514);
  --primary-bgcolor: #040404;
  --primary-border: #222222;
  --secondary-bgcolor: #111111;
  --secondary-border: #0e0d0d;
  --todo-input: rgba(71, 71, 71, 0.5);
}
.App {
  text-align: center;
  font-family: "Akaya Telivigala", cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.btn-tline {
  background-color: transparent !important;
  color: #a57f60 !important;
  border: 0.1rem #a57f60 solid !important;
  font-weight: 600 !important;
  transition: all 0.2s;
}
.btn-tline:hover {
  background-color: #a57f60 !important;
  color: black !important;
}

.about {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--primary-color);
}
.about h2 {
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem var(--primary-border) solid !important;
  font-weight: 600;
}
.about p {
  margin: 0;
}

.returner {
  display: none;
  color: rgb(63, 63, 63);
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
}

.returner:hover {
  color: black;
  background-color: var(--primary-color-hover);
  border-radius: 0.5rem;
}

.load-logo {
  font-size: 5rem;
  margin-top: 10rem;
}
.load-body {
  font-size: 5rem;
  padding: 1rem;
  animation-name: spin;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

.delete:hover {
  color: red !important;
}

.error-toast {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 100%;
  max-width: 500px !important;
  font-size: 1.25rem !important;
}
@media screen and (max-width: 573px) {
  .load-body,
  .load-logo {
    font-size: 3rem;
  }
  .returner {
    display: block;
  }
}
