.modal-content {
  background-color: white !important;
}
.modal-header {
  border: 0 !important;
  border-bottom: 0.1rem #e0e0e0 solid !important;
  color: black;
}
.modal-footer {
  border: 0 !important;
  border-top: 0.1rem #e0e0e0 solid !important;
}

.modal .form-control {
  border: 0.1rem #e0e0e0 solid !important;
}

.plist {
  padding: 0.5rem;
}
.plist-cont {
  border-top: 0 !important;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  color: rgb(65, 64, 64);
}
.plist-body {
  overflow-y: scroll;
  height: 80vh;
  padding: 0.5rem;
}

.plist-body::-webkit-scrollbar {
  display: none;
}
.plist-header {
  color: black;
  border-bottom: 0.1rem #e0e0e0 solid;
  font-weight: 500 !important;
  padding-top: 0.5rem;
  font-size: 1.75rem;
  text-align: left;
  padding-left: 1rem;
}

.plist-create {
  font-size: 1.25rem !important;
  margin: 1rem;
  background-color: transparent !important;
}
.plist-create:hover {
  background-color: white !important;
}

.plist-footer {
  border-top: 0.1rem #e0e0e0 solid;
}

.project {
  border-bottom: 0.1rem #e0e0e0 solid;
  border-radius: 0.25rem;
  padding: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0.25rem;
  text-align: left;
  font-size: 1rem;
  transition: all 0.2s;
}
.project:hover {
  border-radius: 0.5rem;
  background-color: rgba(53, 53, 53, 0.1);
}
.project .date {
  float: right;
}
.list-project:hover {
  border-color: black;
}

.project-inspect {
  padding: 0.5rem;
  padding-top: 0.75rem;
  border-left: 0.1rem #e0e0e0 solid !important;
  height: 100vh;
  text-align: left;
}

.project-inspect-header {
  padding: 0.25rem;
  font-size: 1.5rem;
  text-align: left;
  border-bottom: 0.1rem #e0e0e0 solid;
}

.project-inspect-body {
}
.project-select {
  border-top: 0.1rem #e0e0e0 solid;
  text-align: left;
  padding-top: 1rem;
}

.clean-input {
  background-color: transparent;
  border: none;
  width: 16rem !important;
}

.clean-input:focus,
.clean-input:hover {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.append {
  float: right;
}

@media screen and (max-width: 1200px) {
  .plist-body {
    height: 60vh;
  }
  .plist-footer {
    margin-bottom: 10rem;
  }
}
