.heading {
  font-size: 3rem;
}

.paragraph {
  font-size: 1.5rem;
}
.paragraph i {
  font-size: 3rem;
}

.jumbotron {
  background-color: #f8bc72 !important;
  backdrop-filter: blur(10px);
  font-size: x-large;
}
.paragraphs {
  height: 60vh;
}
