.todo-main {
  padding: 0.75rem;
  padding-bottom: 0;
  padding-top: 0;
  border-right: solid #e0e0e0 0.15rem;
  color: rgb(65, 64, 64);
}

.todo-list {
  height: 80%;
  overflow-y: scroll;
  text-align: left;
  font-size: medium;
  font-weight: 600;
}
.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-top {
  margin-top: 0.75rem;
}

.todo-top-menu {
  font-size: 1.25rem !important;
  padding: 0.75rem;
  font-weight: 600;
}
.todo-top-menu .dropdown-menu {
  font-size: 1.25rem !important;
}

.todo-list .list-item {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  transition: all 0.2s;
  border-bottom: 0.1rem #e0e0e0 solid;
  white-space: nowrap;
  clear: right;
  font-size: 0.85rem;
}
.todo-list .list-item .main {
  width: 30vw;
  white-space: nowrap;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
}
.completed {
  color: rgba(10, 10, 10, 0.514) !important;
  background-color: transparent !important;
  border: 0 !important;
}
.completed:hover {
  border: 0;
}
.todo-box {
  font-size: large;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.todo-box:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.281);
}

.todo-list .list-item:hover {
  border-radius: 0.5rem;
  background-color: rgba(102, 102, 102, 0.1);
}

.todo-input {
  margin-bottom: 0.25rem;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border: 0.1rem #e0e0e0 solid !important;
  border-radius: 0.5rem !important;
  font-size: 1rem !important;
  border-bottom: 0.1rem #e0e0e0 solid !important;
  transition: all 0.2s;
}

.todo-input:hover .stat-drop {
  display: inherit;
}

.todo-input:hover {
  border-color: rgb(150, 148, 148) !important;
}

.todo-input .stat-drop {
}

.input-group-text {
  background-color: transparent !important;
  font-weight: 600 !important;
  border: 0.1rem transparent solid !important;
  color: black !important;
}

.form-control {
  color: black !important;
  background-color: transparent !important;
  border: 0 !important;
  font-weight: 600 !important;
  outline: 0 !important;
  text-decoration: 0 !important;
}

.form-control:focus {
  outline: 0 !important;
  border-color: black !important;
  box-shadow: none !important;
}

.btn-nobtn {
  background-color: transparent !important;
  border: none !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  padding: 0 !important;
  color: inherit !important;
}

.stat-drop {
  color: rgb(94, 94, 94) !important;
  margin-right: 1rem;
  text-align: center;
  padding: 0.25rem;
  margin-top: 0.5rem !important;
  font-size: 1rem;
}
.stat-drop i {
  width: 1rem !important;
}
.drop,
.text {
  font-size: 1rem !important;
  background-color: transparent !important;
}
.drop i {
  width: auto !important;
  margin-right: 0.1rem;
}

.drop:hover,
.text:hover {
  background-color: transparent !important;
}

.drop span {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}

.drop span:hover {
  background-color: rgba(139, 139, 139, 0.212) !important;
}

.todo-append {
  float: right;
  white-space: nowrap;
}
.stat {
  width: 3rem;
  border-right: 0.1rem #e0e0e0 solid !important;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.75rem !important;
}

.stat.cont {
  width: 6rem;
}
.todo-append .stat i {
  overflow: hidden;
  margin-right: 0.1rem;
  color: inherit !important;
}

.order-cont {
  float: right;
}

.order-bar {
}

.order-btn {
  display: inline-block;
  width: 3rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-right: 0.1rem #e0e0e0 solid !important;
  font-size: 0.8rem !important;
  padding: 0.2rem;
  margin-right: 0.1rem;
}

.order-btn:hover {
  background-color: rgba(53, 53, 53, 0.1);
}
#delete:hover {
  color: #ff4e62;
}

#first {
}

@media screen and (max-width: 1200px) {
  .stat {
  }
  .todo-list .list-item .main {
    font-size: 0.75rem !important;
    width: 25vw;
  }
}
