.todo-list {
  height: 80%;
  overflow-y: scroll;
  text-align: left;
  font-size: medium;
  font-weight: 600;
}

.todo-list .list-item {
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: white;
  margin-top: 0.6rem;
  transition: all 0.2s;
}
.todo-box {
  font-size: large;
}

.todo-list .list-item:hover {
  background-color: black;
  color: white;
}
