.white-section {
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  height: 100vh;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.main-cont {
}
.section-title {
  font-weight: 700;
  font-size: 1.25rem !important;
}
.no-padding {
  padding: 0 !important;
}

.btn-nice {
  background-color: #cf9f65 !important;
  color: #fcd382 !important;
  border: none !important;
  font-weight: 600 !important;
}

.btn-nice:hover {
  background-color: #ecb674 !important;
}
.project-name {
  margin-top: 0.75rem;
  text-align: left;
}
.project-name h2:hover {
}
.project-name h2 {
  margin-bottom: 0;
  cursor: pointer !important;
}
