.white-section {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  height: 90vh;
  margin: 0.45rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  border: 0.1rem rgb(224, 224, 224) solid;
}
.main-cont{

}
.section-title {
  font-weight: 700;
  font-size: 1.25rem !important;
}
.no-padding {
  padding: 0 !important;
}

.btn-nice {
  background-color: white !important;
  color: black !important;
  border: none !important;
  font-weight: 600 !important;
}

.project-name {
  margin-top: 0.75rem;
  text-align: left;
}
.project-name h2:hover {
}
.project-name h2 {
  margin-bottom: 0;
  cursor: pointer !important;
}
