.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  backdrop-filter: blur(10px);
}
.navbar-brand {
  color: black !important;
  font-family: "Akaya Telivigala", cursive;
  font-weight: 600;
}

.user-ops {
  font-size: large;
  color: black !important;
}
.login-link {
  color: black !important;
}

.register-link {
  color: black !important;
}
