.project-footer {
  padding-top: 1rem;
  margin-top: 0.5rem;
  height: 30vh;
  border: 0.5rem;
}
.project-footer .btn {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400 !important;
  width: 15rem !important;
  background-color: transparent !important;
  color: black !important;
  border-bottom: solid #c79c78 0.1rem !important;
}
.project-name {
  font-weight: 600;
  padding: 0.5rem;
  border-bottom: solid #c79c78 0.1rem;
  color: black;
}

.project-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(75, 75, 75);
  text-align: left;
  margin-bottom: 0.5rem;
  border-bottom: solid #c79c78 0.1rem;
}

.project-stats {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;

  padding: 0.25rem;
}

.project-date {
  font-weight: 500;
  text-align: left;
  margin: 0.2rem;
  color: black !important;
}
.project-stat {
  padding: 0.25rem;
}
.project-main {
  background-color: #e8ae68;
  padding: 0.75rem;
  padding-top: 0rem;
  padding-bottom: 0;
  border-right: solid #d49f5e 0.1rem !important;
}

.project-base {
}

.project-cont {
  background-color: #ffd480;
  border-bottom: 0.1rem#c79c78 solid;
  border-radius: 0.5rem;
}
.project-portrait {
  font-size: 8rem;
  text-align: center;
  color: #ffe5b1;
}

.project-portrait i {
  padding: 1rem;
}
.project-todos {
  margin-top: 1rem;
}
#delete-btn {
  color: #db5a42 !important;
}

#completed {
  color: #000000;
  border-top: #c79c78 solid 0.1rem;
}

#remaining {
  color: #383838;
  border-top: #c79c78 solid 0.1rem;
}

#total-count {
  border-top: solid #a57f60 0.1rem;
  margin-top: 0.5rem;
}
