.project-list {
  text-align: left;
  overflow-y: scroll;
  height: 80%;
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 600;
}
.project-list .list-item {
  background-color: white;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: all 0.2s;
  margin-top: 0.75rem;
}
.project-list .list-item .item-footer {
  font-weight: 400;
  font-size: medium;
}
.project-list .list-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.project-footer {
  text-align: left;
}
