.settings-cont {
  font-family: "Open Sans", sans-serif;
}

.settings-header {
  font-size: 1.75rem;
  text-align: left;
  font-weight: 600;
  height: 10vh;
  padding-top: 1rem;
}

.settings-navbar {
  border-right: 0.1rem var(--primary-border) solid;
  height: 90vh;
  padding-right: 1rem;
}

.settings-nav {
  font-size: 1.25rem;
  border-bottom: 0.1rem var(--primary-border) solid;
  padding: 0.5rem;
  font-weight: 500;
  text-align: left;
  color: rgb(121, 121, 121);
  cursor: pointer;
}

.settings-nav:hover {
  color: black;
  background-color: rgba(99, 99, 99, 0.1);
}

.settings-inspect {
  height: 90vh;
}

.us-cont {
}

.us-portrait {
  font-size: 10rem;
}
.us-name {
  font-size: 2rem;
}
.us-email {
  font-size: 1.25rem;
  color: rgb(85, 85, 85);
}
.us-options {
  padding: 1rem;
}

.us-stats {
  font-size: 1rem;
  color: rgb(107, 107, 107);
}
.us-stat {
  padding: 0.5rem;
}

.th {
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.1rem transparent solid;
  margin: 0.75rem;
}

.th:hover {
  border: 0.1rem gray solid;
}

.th-img {
  width: 15rem;
  height: 10rem;
}

@media screen and (max-width: 900px) {
  .th-settings {
    padding-bottom: 5rem;
  }
}
