.inspect-main {
  color: var(--primary-color-lighter);
  padding-right: 1rem;
  padding-left: 1rem;
}
.inspect-menu {
  padding-top: 1rem;
  font-size: 1.1rem;
  white-space: pre;
}
.inspect-menu .main {
  border-right: 0.1rem var(--primary-border) solid;
  padding-right: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.inspect-menu .content {
}

.inspect-menu .append {
  float: right;
}
.toggle {
  box-shadow: none !important;
}
.toggle i {
  cursor: pointer;
  color: var(--primary-color-lighter);
  width: 1.5rem !important;
}

.toggle i:hover {
  color: var(--primary-color);
}

.inspect-header {
  border-top: 0.1rem var(--primary-border) solid;
  margin-top: 1rem;
}

.inspect-header .form-control {
  font-size: 1.25rem !important;
  padding: 0 !important;
  color: var(--primary-color) !important;
}

.inspect-body {
  margin-top: 1rem;
  color: inherit;
}

.inspect-area {
  background-color: transparent;
  border: 0 !important;
  outline: 0 !important;
  width: 100%;
  height: 20vh;
  color: var(--primary-color) !important;
  resize: none;
}

.inspect-area::selection {
  border: 0 !important;
  outline: 0 !important;
}

.inspect-footer {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  padding-top: 0.5rem;
}

.stats {
  padding: 0.5rem 0 0.5rem 0 !important;
  border-bottom: 0.1rem var(--primary-border) solid;
}
.stat-head {
  font-size: 1.25rem;
}
.stat-col {
  text-align: center;
  border-right: 0.1rem var(--primary-border) solid;
  cursor: pointer;
  padding: 0 !important;
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}
.stat-col:hover {
  background-color: var(--primary-color-hover) !important;
  border-radius: 0.5rem;
}
.stat-row {
  margin: 0 !important;
}
.stat-sep {
  color: var(--primary-color-lighter);
  padding: 0.25rem;
  margin: 0 !important;
}

.side-cont {
  padding: 0.5rem;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 0.1rem var(--primary-border) solid;
}
.side-head {
  font-size: 1.25rem;
  font-weight: 500;
}

.side-head .append {
  cursor: pointer;
}
.side-head .append i {
  width: 2rem;
  text-align: center;
}

.side-head .append:hover {
  background-color: var(--primary-color-hover);
  border-radius: 0.5rem;
}

.side-body {
  height: 20vh;
  overflow-y: scroll;
}

.side-body::-webkit-scrollbar {
  display: none;
}

.side-item {
  padding: 0.25rem;
  border-bottom: 0.1rem var(--primary-border) solid;
  margin-bottom: 0.1rem;
  cursor: pointer;
  font-weight: 600;
}

.side-item .append {
  border-left: 0.1rem var(--primary-border) solid;
}
.side-item-main {
  width: 70%;
}

.side-item i {
  width: 2rem;
  padding: 0.5rem;
}
.side-item i:hover {
  background-color: rgba(255, 255, 255, 0.281);
  border-radius: 0.5rem;
}
.side-item:hover {
  background-color: var(--primary-color-hover);
  border-radius: 0.5rem;
}

.cleaner-input {
  background-color: transparent;
  border: none;
  color: var(--primary-color) !important;
}

.cleaner-input:focus {
  outline: none;
}

.btn-big {
  width: 100% !important;
  display: block !important;
  background-color: transparent !important;
}

@media screen and (max-width: 1200px) {
  .inspect-footer {
    position: relative;
    padding: 0;
  }
  .inspect-area {
    height: 15vh;
  }

  .side-cont {
  }
}
