.inspect-main {
  color: rgb(71, 71, 71);
  padding-right: 1rem;
  padding-left: 1rem;
}
.inspect-menu {
  padding-top: 1rem;
  font-size: 1.1rem;
  white-space: pre;
}
.inspect-menu .main {
  border-right: 0.1rem #e0e0e0 solid;
  padding-right: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.inspect-menu .content {
}

.inspect-menu .append {
  float: right;
}
.toggle {
  box-shadow: none !important;
}
.toggle i {
  cursor: pointer;
  width: 1.5rem !important;
}

.toggle i:hover {
  color: black;
}

.inspect-header {
  border-top: 0.1rem #e0e0e0 solid;
  margin-top: 1rem;
}

.inspect-header .form-control {
  font-size: 1.25rem !important;
  padding: 0 !important;
}

.inspect-body {
  margin-top: 1rem;
  color: rgb(63, 63, 63);
}

.inspect-area {
  background-color: transparent;
  border: 0 !important;
  outline: 0 !important;
  width: 100%;
  height: 60vh;
  resize: none;
}

.inspect-area::selection {
  border: 0 !important;
  outline: 0 !important;
}

.inspect-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  padding-top: 0.5rem;
  border-top: 0.1rem #e0e0e0 solid;
}
.stat-col {
  text-align: center;
  border-right: 0.1rem #e0e0e0 solid;
  cursor: pointer;
  padding: 0 !important;
  margin-bottom: 0.5rem;
  transition: all 0.2s;
}
.stat-col:hover {
  background-color: #e6edf3;
  border-radius: 0.5rem;
}
.stat-row {
}
.stat-sep {
  color: rgb(98, 102, 105);
  padding: 0.25rem;
}
