.user-opform {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
}
.user-op {
  margin-top: 2rem !important;
}

.user-oplink {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  padding: 0.2rem;
}
.user-oplink:hover {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}
